<h1>Create Movie</h1>
<form [formGroup]="movieForm" (ngSubmit)="createMovie()">
  <div class="mb-3">
    <label for="title" class="form-label">
      Title
    </label>
    <input type="text" class="form-control" id="title" name="title" formControlName="title"/>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">
      Description
    </label>
    <textarea class="form-control" id="description" name="description" formControlName="description"></textarea>
  </div>
  <div class="mb-3">
    <label for="imageUrl" class="form-label">
      Image URL
    </label>
    <input type="text" class="form-control" id="imageUrl" name="imageUrl" formControlName="imageUrl"/>
  </div>
  <div class="mb-3">
    <label for="categoryId" class="form-label">
      Category
    </label>
    <select id="categoryId" class="form-select" name="categoryId" formControlName="categoryId">
      <option value="-1">
        Select
      </option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">
    Create
  </button>
  <button type="button" class="btn btn-warning" (click)="clearForm()">
    Clear
  </button>
</form>
