<h1>Create Movie</h1>
<form>
  <div class="mb-3">
    <label for="title" class="form-label">
      Title
    </label>
    <input #title type="text" class="form-control" id="title"/>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">
      Description
    </label>
    <textarea #description class="form-control" id="description"></textarea>
  </div>
  <div class="mb-3">
    <label for="imageUrl" class="form-label">
      Image URL
    </label>
    <input #imageUrl type="text" class="form-control" id="imageUrl"/>
  </div>
  <div class="mb-3">
    <label for="categoryId" class="form-label">
      Category
    </label>
    <select #categoryId id="categoryId" class="form-select">
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="createMovie(title, description, imageUrl, categoryId)">
    Create
  </button>
</form>
