<div class="card mb-3" *ngFor="let movie of movies">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/image/{{ movie.imageUrl }}" class="img-fluid rounded-start" alt=""/>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h2 class="card-title">{{ movie.title }}</h2>
        <p class="card-text">{{ movie.description }}</p>
        <button class="btn btn-sm btn-outline-primary">Details</button>
      </div>
    </div>
  </div>
</div>

<!--<movie *ngFor="let movie of movies"></movie>-->

<!--<ul>
  <li *ngFor="let movie of movies">{{ movie }}</li>
</ul>-->
